{% extends "blog/master.html" %}

{% block title %}
{% endblock %}

{% block content %}

    <a href="/admin"> ADMIN </a>
    &nbsp;
    &nbsp;
    {% for message in messages %}
            <div class="msg1" role="alert">
                <strong> </strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
        <a href="/signout"> SignOut </a>
        &nbsp;
        <a href="{% url 'profile' user.id %}"> Profile </a>
        
        
        <p> Hey <i>{{user|upper}}</i> </p>

        <a href='create_blog/'> CreateBlog </a>
        <br>
        <a href='view_blog/'> MyBlogs </a>
        <hr>
    {% else %}
        <a href="/signin"> SignIn </a>
    {% endif %}

    
{% endblock %}